@{
    ViewBag.Title = "Contact";
}

<div class="row">
    <div class="col-md-8">
        <br/>
        <br/>
        <p>For information or questions, please contact:</p>
        <h3>Carrie</h3>
        @*<h4>carrie.robinson@colchestersd.org</h4>*@
    </div>

</div>
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@

<address>
    @*One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100*@
</address>
