@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CHS Auction</h1>
    <p class="lead">Welcome to the Colchester High School Auction site!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to the Colchester High School Auction site!</h2>
        <h3>This auction is to benefit the Colchester High School Project Graduation.</h3>
        <p>
            How to bid:<br />It’s fast and easy! Just register to set up a bidding account by entering your email address and creating a password.
            You will not be asked for any credit card information as we will not be collecting money through this site.
        </p>
        <p>
            The online portion of the auction will shut down at TBD. At this time, bids will be transferred to paper bidding sheets.
            Bidding will re-open (on paper bid sheets) at ...
        </p>
        <p>
            Winners not present at CHS will be notified by e-mail over the weekend and arrangements for payment and pick-up can be made. Thank you for your support!
        </p>
    </div>
</div>